{
    "let": {
        "class_scores": {
            "map.map": [
                {"cell": "model"},
                {"params": [
                  {"c": {"type":"map", "values": {"type": "map", "values": {"type": "map", "values": "double"}}}}
                 ],
                 "ret": "double",
                 "do": {
                     "a.reduce": [{"a.zipmap": ["a", "c", "u.apply"]}, "u.multiply"]
                 }
                }
            ]
        }
    }
},
{
	"map.argmax": [
        "class_scores"
	]
}
