
{
    "type": {
        "type": "map",
        "values": {
            "name": "ClassModel",
            "type": "array",
            "items": {
                "name": "DiscreteDistribution",
                "type": {"type": "map", "values": "double"}
            }
        }
    },
    "init": {
{% for className in classNames -%}
{%   set outer_loop = loop -%}
{%   set i = outer_loop.index %}
        "{{ className }}": [
{%   for attr in attributeNames -%}
{%     set inner_loop = loop -%}
{%     set j = inner_loop.index -%}
{%     set distribution = trainedModel.getDistribution(i, j) %}
            {{ naive_bayes:map_distribution_values(distribution) }}{{ "," if not outer_loop.last }}
{%   endfor %}
        ]
{% endfor %}
		}
    }
}

		for(int i = 0; i < classNumber; i++) {
			StringJoiner attrJoiner = new StringJoiner(",
				for (int j = 0; j < attributeNames.length; j++) {
					DiscreteDistribution d = (DiscreteDistribution) trainedModel.getDistribution(i, j);
					StringJoiner innerClassJoiner = new StringJoiner(",
					for (int k = 0; k < d.getNumberOfParameters(); k++){
						innerClassJoiner.add(""" + d.mapValue((double) k) + "": " + d.getProbability((double) k));
					}
					attrJoiner.add("{" + innerClassJoiner.toString() + "}
				}
				classJoiner.add(""" + classNames[i] + "":[" + attrJoiner.toString() + "]
		}

						}
					}
