[bumpversion]
current_version = 0.0.8
commit = True
tag = True
tag_name = python-sgd-regression-{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}

[bumpversion:file:Dockerfile]
search = hbpmip/python-sgd-regression:{current_version}
replace = hbpmip/python-sgd-regression:{new_version}
