pre-commit>=0.13
mock
pytest
ipdb
# ligthweight version of hadrian that only contains titus package
#git+https://github.com/Marigold/hadrian.git@light#egg=titus&subdirectory=titus
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
