git+https://github.com/Marigold/python-base-docker-images.git@get-results-method#egg=mip_helper&subdirectory=python-mip/mip_helper
#mip_helper==0.3.0
pandas==0.21.1
scipy==1.0.0
scikit-learn==0.19.1
patsy==0.5.0
# jsonpickle==0.9.5
git+https://github.com/jsonpickle/jsonpickle.git
# ligthweight version of hadrian that only contains titus package
git+https://github.com/Marigold/hadrian.git@light#egg=titus&subdirectory=titus
